:root {
  --sl-z-index-backdrop: 999;
  --sl-z-index-modal: 1000;
}

button:not([disabled]) {
  cursor: pointer;
}

.modal-container {
  position: fixed;
  z-index: var(--sl-z-index-modal);
  top: 50%;
  bottom: 0;
  right: 0;
  left: 50%;

  /* allow click-through to backdrop */
  pointer-events: none;
}

.modal-content {
  display: inline-block;
  align-items: flex-end;
  background: var(--sl-color-bg);
  border-radius: 0.5rem;
  text-align: left;
  overflow: hidden;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transform: translateY(0);
  transition: all 0.3s ease-in-out;    
  margin: 2rem auto;
  min-width: 240px;
  padding: 1rem;

  pointer-events: auto;
}

.modal-body {
}

.modal-actions {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  gap: 1rem;
}

.backdrop {
  position: fixed;
  z-index: var(--sl-z-index-backdrop);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
}